<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kamusi HODI: The Online Happy Birthday Greeting Application</title>

  <!-- Links -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
    crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="../static/css/main.css">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@1&display=swap" 
  rel="stylesheet">

  <!-- Nav -->
  <nav class="navbar navbar-custom navbar-expand-lg " role="navigation">
    <img href="index.html"
      src="./static/Logo.png"
      width="76">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
      aria-controls="bs-example-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="{{url_for('SignUp_Page')}}"
          style="font-family: 'IM Fell English', serif; font-size: 30px">Sign
          In</a>
      </div>
    </div>
    <!-- STUFF ON THE RIGHT -->
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" href="https://kamusi.org/"
        style="font-family: 'IM Fell English', serif; font-size: 30px;">Kamusi</a>
    </div> <!-- /.navbar-nav, right-hand content -->
    </div> <!-- /.navbar-collapse -->
  </nav>

</head>

<body>

  <!-- First div with greeting -->
  <div id="toaster" class="jumbotron text-center">
    <label class="happy_birthday" style="font-family: 'IM Fell English', serif;" text-align="center">Happy Birthday App!</label>
    <div id="loginwait" class="w3-col m6 w3-card4">
      <div id="waitgif"></div>
    </div>
  </div>
  <form id="searchform" class="" style="padding-top:75px">
    <div id="divblock" class="container">
      <div class="searchline ">
        <div class="container1">
          <fieldset class="form-group">
            <div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
              <div id="dictionary_holder" class="w3-row">
                <div id="dictionarypad" class="w3-col m2 w3-hide-small"></div>
                <div id="dictionarybox" class="w3-col m8 w3-card4">
                </div>
              </div>
            </div>
            <form autocomplete="off" action="/action_page.php" >
            <div class="dictionaryline">
              <label id="search" class="w3-col s3">SEARCH:</label>
                    <!-- <div class="autocomplete" style="width:300px;"> -->
                    <input id="myInput" type="text"
                     name="myCountry" 
                     placeholder="What language do you want to search for Happpy Birthday in?" 
                     required="" size="56">
                  <!-- </div> -->
                  <input class="btn btn-info" type="submit">
                  <br>
                  {% if result ==True %}
                  <h5>{{happy_birthday}} <h5>
                  {% endif %}
          </form>
        </div>
            <div id="search_container1" class="container pt-3">
              <p id="para">OR</p>
              <label id="lab">Select the Language:</label>

              <!-- Language options -->
              <select class="w3-col s9" form="searchform" name="form" id="searchfrom" required="">
                <option id="opt" value="" disabled="disabled" selected="">Select your language of
                  interest !</option>
                <option value="ach">Acholi</option>
                <option value="ady">Adyghe</option>
                <option value="afr">Afrikaan</option>
                <option value="alb">Albanian</option>
                <option value="ale">Aleut</option>
                <option value="als">Alsatian</option>
                <option value="alt">Altay</option>
                <option value="anh">Amharic</option>
                <option value="arz">Arabic (Egyptian)</option>
                <option value="apc">Arabic (Lebanese)</option>
                <option value="arb">Arabic</option>
                <option value="ary">Arabic (Moroccan)</option>
                <option value="arg">Argonese (Arabic)</option>
                <option value="hye">Armenian (Eastern)</option>
                <option value="hyw">Armenia (Western)</option>
                <option value="aro">Aromanian</option>
                <option value="ass">Assamese</option>
                <option value="asr">Assyrian</option>
                <option value="ast">Asturian</option>
                <option value="aym">Aymara</option>
                <option value="aze">Azerbaijani</option>
                <option value="ban">Balinese</option>
                <option value="bax">Bamum</option>
                <option value="bas">Basa (Cameroon)</option>
                <option value="bak">Bashkir</option>
                <option value="eus">Basque</option>
                <option value="bav">Bavarian</option>
                <option value="bem">Bemba</option>
                <option value="ben">Bengali</option>
                <option value="bho">Bhojpuri</option>
                <option value="bik">Bikol</option>
                <option value="bis">Bislama</option>
                <option value="bos">Bosnian</option>
                <option value="bre">Breton</option>
                <option value="bul">Bulgarian</option>
                <option value="mya">Burmese</option>
                <option value="yue">Cantonese</option>
                <option value="cat">Catalan</option>
                <option value="ceb">Cebuano</option>
                <option value="dtp">Central Dusun</option>
                <option value="cbk">Chabacano</option>
                <option value="cha">Chamorro</option>
                <option value="che">Chechen</option>
                <option value="chr">Cherokee</option>
                <option value="nya">Chichewa</option>
                <option value="cdo">Chinese</option>
                <option value="hak">Chinese</option>
                <option value="cmn">Chinese</option>
                <option value="nan">Chinese</option>
                <option value="wuu">Chinese</option>
                <option value="zho">Chinese</option>
                <option value="chp">Chipewyan</option>
                <option value="cro">Chronia Pollan</option>
                <option value="chv">Chuvash</option>
                <option value="bav">Bavarian</option>
                <option value="dtb">Coastal Kadazan</option>
                <option value="cor">Cornish</option>
                <option value="cos">Corsican</option>
                <option value="cre">Cree</option>
                <option value="hrv">Croatian</option>
                <option value="cyo">Cuyonon</option>
                <option value="cze">Czech</option>
                <option value="prs">Dari</option>
                <option value="drt">Drents</option>
                <option value="nld">Dutch</option>
                <option value="ovd">Elfdalian</option>
                <option value="eng">English</option>
                <option value="epo">Esperanto</option>
                <option value="est">Estonian</option>
                <option value="ewe">Ewe</option>
                <option value="ext">Extremaduran</option>
                <option value="fao">Faroese</option>
                <option value="fij">Fijian</option>
                <option value="fin">Finnish</option>
                <option value="vls">Flemish</option>
                <option value="frk">Frankish</option>
                <option value="fra">French</option>
                <option value="frr">Frisian</option>
                <option value="stq">Frisian</option>
                <option value="fry">Frisian</option>
                <option value="fur">Friulian</option>
                <option value="gla">Gaelic</option>
                <option value="glg">Galician</option>
                <option value="gbm">Garhwali</option>
                <option value="oci">Gascon</option>
                <option value="kat">Georgian</option>
                <option value="deu">German</option>
                <option value="grc">Greece</option>
                <option value="ell">Greek</option>
                <option value="kal">Greenlandic</option>
                <option value="gos">Gronings</option>
                <option value="guj">Gujrati</option>
                <option value="guj">Gujrati</option>
                <option value="hat">Haitian Creole</option>
                <option value="hau">Hausa</option>
                <option value="haw">Hawaiian</option>
                <option value="heb">Hebrew</option>
                <option value="her">Herero</option>
                <option value="hil">Hiligaynon</option>
                <option value="hin">Hindi</option>
                <option value="mww">Hmong</option>
                <option value="iba">Iban</option>
                <option value="isl">Icelandic</option>
                <option value="ibo">Igbo</option>
                <option value="ilo">Iloko</option>
                <option value="ind">Indonesian</option>
                <option value="iku">Inuktitut</option>
                <option value="ipk">Inupiaq</option>
                <option value="gle">Irish</option>
                <option value="ita">Italian</option>
                <option value="jam">Jamaican</option>
                <option value="jpn">Japanese</option>
                <option value="jav">Javanese</option>
                <option value="nrf">Jerriais</option>
                <option value="kan">Kannada</option>
                <option value="pam">Kapampangan</option>
                <option value="kas">Kashmiri</option>
                <option value="kaz">Kazakh</option>
                <option value="khm">Khmer</option>
                <option value="naq">Khoekhoe</option>
                <option value="kin">kinyarwanda</option>
                <option value="nyg">Kinyindu</option>
                <option value="gil">Kiribati</option>
                <option value="tlh">Klingon</option>
                <option value="trb">Kokborok</option>
                <option value="kon">Kongo</option>
                <option value="kor">Korean</option>
                <option value="kum">Kumyk</option>
                <option value="ckb">Kurdish</option>
                <option value="kir">Kyrgyz</option>
                <option value="lkt">Lakota Sioux</option>
                <option value="lao">Lao</option>
                <option value="lat">Latin</option>
                <option value="lav">Latvian</option>
                <option value="lim">Limburgish</option>
                <option value="lin">Lingala</option>
                <option value="lit">Lithuania</option>
                <option value="nds">Low German</option>
                <option value="nds">Low Saxon</option>
                <option value="dsb">Lower Sorbian</option>
                <option value="loz">Lozi</option>
                <option value="lua">Luba</option>
                <option value="lug">Luganda</option>
                <option value="smj">Lule Sami</option>
                <option value="ltz">Luxembourgish</option>
                <option value="mkd">Macedonian</option>
                <option value="mag">Magahi</option>
                <option value="mlg">Malagasy</option>
                <option value="msa">Malay</option>
                <option value="mal">Malayalam</option>
                <option value="zsm">Malaysian</option>
                <option value="div">Maldivian</option>
                <option value="mlt">Maltese</option>
                <option value="glv">Manx</option>
                <option value="mri">Maori</option>
                <option value="mar">Marathi</option>
                <option value="mah">Marshallese</option>
                <option value="mfe">Mauritian Creole</option>
                <option value="mna">Mbula</option>
                <option value="mic">Mikmaq</option>
                <option value="mon">Mongolian</option>
                <option value="nci">Nahuati</option>
                <option value="nav">Navajo</option>
                <option value="npi">Nepali</option>
                <option value="nep">Nepali</option>
                <option value="new">Newari</option>
                <option value="nds">Niederdeustch</option>
                <option value="niu">Niuean</option>
                <option value="nde">North Ndebele</option>
                <option value="sme">Northern Sami</option>
                <option value="nso">Northern Sotho</option>
                <option value="nor">Norwegian</option>
                <option value="oci">Occitan</option>
                <option value="ryu">Okinawan</option>
                <option value="ori">Oriya </option>
                <option value="oss">Ossetian</option>
                <option value="pfl">Palatine German</option>
                <option value="pau">Palauan</option>
                <option value="pap">Papiamento</option>
                <option value="pus">Pashto</option>
                <option value="fas">Persian</option>
                <option value="pcd">Picard</option>
                <option value="pms">Piedmontese</option>
                <option value="pol">Polish</option>
                <option value="por">Portuguese</option>
                <option value="pan">Punjabi</option>
                <option value="que">Quechua</option>
                <option value="otq">Queretaro Otomi</option>
                <option value="raj">Rajasthani</option>
                <option value="rgn">Romagnol</option>
                <option value="ear">Rosarino Basico</option>
                <option value="wep">Ruhr</option>
                <option value="rus">Russian</option>
                <option value="rue">Rusyn</option>
                <option value="sah">Sakha</option>
                <option value="sma">Sami</option>
                <option value="smo">Samoan</option>
                <option value="san">Sanskrit</option>
                <option value="srd">Sardinian</option>
                <option value="sco">Scots</option>
                <option value="srp">Serbian</option>
                <option value="sot">Sesotho</option>
                <option value="sna">Shona</option>
                <option value="snd">Sindhi</option>
                <option value="sin">Sinhala</option>
                <option value="slk">Slovak</option>
                <option value="slv">Solvenian</option>
                <option value="slr">Solresol</option>
                <option value="som">Somali</option>
                <option value="nbl">South Ndebele</option>
                <option value="sma">Southern Sami</option>
                <option value="spa">Spanish</option>
                <option value="sun">Sudanese</option>
                <option value="srn">Surinamese</option>
                <option value="swg">Swabian</option>
                <option value="swa">Swahili</option>
                <option value="ssw">Swazi</option>
                <option value="swe">Swedish</option>
                <option value="gsw">Swiss German</option>
                <option value="syc">Syriac</option>
                <option value="tab">Tabassaran</option>
                <option value="tgl">Tagalog</option>
                <option value="tah">Tahitian</option>
                <option value="nan">Taiwanese</option>
                <option value="tgk">Tajik</option>
                <option value="tam">Tamil</option>
                <option value="tat">Tatar</option>
                <option value="tel">Telugu</option>
                <option value="tdt">Tetum</option>
                <option value="tha">Thai</option>
                <option value="bod">Tibetan</option>
                <option value="tir">Tigrinya</option>
                <option value="tpi">Tok Pisin</option>
                <option value="tkl">Tokelauan</option>
                <option value="ton">Tongan</option>
                <option value="tso">Tsonga</option>
                <option value="tzo">Tswana</option>
                <option value="tsn">Tswana</option>
                <option value="tcv">Tulu</option>
                <option value="tur">Turkish</option>
                <option value="tuk">Turkmen</option>
                <option value="tvl">Tvaluan</option>
                <option value="twd">Tweants</option>
                <option value="twi">Twi</option>
                <option value="ukr">Ukrainian</option>
                <option value="tgk">Tajik</option>
                <option value="sxu">Upper Saxon German</option>
                <option value="hsb">Upper Sorbian</option>
                <option value="urd">Urdu</option>
                <option value="uig">Uyghur</option>
                <option value="uzb">Uzbek</option>
                <option value="vai">Vai</option>
                <option value="vec">Venetian</option>
                <option value="vie">Vietnamese</option>
                <option value="vro">Voro</option>
                <option value="wln">Walloon</option>
                <option value="cym">Welsh</option>
                <option value="jut">West Jutlandic</option>
                <option value="web">Westrobothnian</option>
                <option value="wol">Wolof</option>
                <option value="xho">Xhosa</option>
                <option value="yid">Yiddish</option>
                <option value="dhg">Yolngu</option>
                <option value="yor">Yoruba</option>
                <option value="yuc">Yucatec Maya</option>
                <option value="zza">Zazaki</option>
                <option value="zul">Zulu</option>

              </select>
            </div>
        </div>
        <p></p>
        <p></p>
        <p></p>

      </div>
  </form>
  </div>

  <!-- Scripts -->
  <script src="../static/js/autocomplete.js"></script>
  <script>
    autocomplete(document.getElementById("myInput"), languages);
    </script>

</body>

</html>