    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: 'IM Fell English', serif;
    }

    .navbar-custom {
      background-color:  #FF9800;
    }

/* #AB3939  #F7DB8E*/

    body {
      background-color:  #AB3939;
      cursor: grab;
    }

    body,
    html {
      height: 100%;
      /* color: #777; */
      line-height: 1.8;
    }

    .navbar-brand {
      color: rgb(0, 0, 0);
    }

    .nav-item {
      color: rgb(0, 0, 0);
    }

    /*creating a parallax effect*/
    .bgimg-1 {
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    #search_container {
      background-color: #FF9800;
      padding-bottom: 16px;
      border: black solid 2px;

    }

    .happy_birthday {
      font-family: 'Dancing Script', cursive;
      font-size: 78px;
    }

    .container1 {
      background-color: #FFFFE0;
      border-radius: 25px;
    }
    
    #toaster{
        background-color:#FFF594;

    }

    #searchform{
        padding-top:75px;
    }

    #divblock{
        border: black solid 2px; 
        border-radius: 25px;
        padding-top: 16px; 
        background-color:     #CEA899;
    }
    /* #CEA899 */
    #search{
        font-size: 1.3em;
        font-family: 'IM Fell English', serif; 
        font-style: bold; 
        padding: 10px
    }

    #myinput {
        border-radius: 5px;
    }

    #para {
        font-family: 'Dancing Script', cursive;
        font-style: bold;
    }

    #lab {
        font-family: 'IM Fell English', serif;
    }

    #opt {
        border-radius: 5px;
    }



    /* First image (Logo. Full height) */